@page "/VerbQuiz"
@inherits VerbQuizBase
@inject NavigationManager Navigation
@inject IJSRuntime JS

<PageTitle>Verb Quiz</PageTitle>

<div class="VerbQuiz" @onkeydown="@KeyPressed" @onkeyup="@KeyUp">
    <div class="VerbQuiz__header">
        <h2 id="VerbQuiz__infinitive" @onclick="DisplayEnglishTranslation">@topText</h2>
        <h3 id="VerbQuiz__tense">@verbQuiz.verbinfo[2]</h3>
        <ErrorMessage @ref="errorMsg" activeErrorText="@("Blank fields are not allowed.")" inactiveErrorText="" />
    </div>
    <div class="VerbQuiz__inputs">
        <table class="VerbQuiz__table">
            <colgroup>
                <col span="1" style="width: 33.3%;">
                <col span="1" style="width: 33.3%;">
                <col span="1" style="width: 16.7%;">
                <col span="1" style="width: 16.7%;">
            </colgroup>

            <VerbInputRow userVerb="@verbQuiz.userVerbs[0]" conjugation="@verbQuiz.conjugations[0]" index="0" ID="@GLOBALS.languageSubjectPronouns[GLOBALS.ActiveLanguage][0].Split('/')[0]" subjectPronoun="@FirstSubjectPronoun" OnClipboardClicked="e => ClipboardClicked(0)" onTextChange="@(e => OnTextChange(e, 0))" userInputDisabled="userInputDisabled" displayCorrections="displayCorrections" selectedField="selectedField" onFocusedIndexChanged="@(e => UpdateFocusedIndex(0))" />
            <VerbInputRow userVerb="@verbQuiz.userVerbs[1]" conjugation="@verbQuiz.conjugations[1]" index="1" ID="@GLOBALS.languageSubjectPronouns[GLOBALS.ActiveLanguage][1].Split('/')[0]" subjectPronoun="@(GLOBALS.languageSubjectPronouns[GLOBALS.ActiveLanguage][1])" OnClipboardClicked="e => ClipboardClicked(1)" onTextChange="@(e => OnTextChange(e, 1))" userInputDisabled="userInputDisabled" displayCorrections="displayCorrections" selectedField="selectedField" onFocusedIndexChanged="@(e => UpdateFocusedIndex(1))" />
            <VerbInputRow userVerb="@verbQuiz.userVerbs[2]" conjugation="@verbQuiz.conjugations[2]" index="2" ID="@GLOBALS.languageSubjectPronouns[GLOBALS.ActiveLanguage][2].Split('/')[0]" subjectPronoun="@(GLOBALS.languageSubjectPronouns[GLOBALS.ActiveLanguage][2])" OnClipboardClicked="e => ClipboardClicked(2)" onTextChange="@(e => OnTextChange(e, 2))" userInputDisabled="userInputDisabled" displayCorrections="displayCorrections" selectedField="selectedField" onFocusedIndexChanged="@(e => UpdateFocusedIndex(2))" />
            <VerbInputRow userVerb="@verbQuiz.userVerbs[3]" conjugation="@verbQuiz.conjugations[3]" index="3" ID="@GLOBALS.languageSubjectPronouns[GLOBALS.ActiveLanguage][3].Split('/')[0]" subjectPronoun="@(GLOBALS.languageSubjectPronouns[GLOBALS.ActiveLanguage][3])" OnClipboardClicked="e => ClipboardClicked(3)" onTextChange="@(e => OnTextChange(e, 3))" userInputDisabled="userInputDisabled" displayCorrections="displayCorrections" selectedField="selectedField" onFocusedIndexChanged="@(e => UpdateFocusedIndex(3))" />
            <VerbInputRow userVerb="@verbQuiz.userVerbs[4]" conjugation="@verbQuiz.conjugations[4]" index="4" ID="@GLOBALS.languageSubjectPronouns[GLOBALS.ActiveLanguage][4].Split('/')[0]" subjectPronoun="@(GLOBALS.languageSubjectPronouns[GLOBALS.ActiveLanguage][4])" OnClipboardClicked="e => ClipboardClicked(4)" onTextChange="@(e => OnTextChange(e, 4))" userInputDisabled="userInputDisabled" displayCorrections="displayCorrections" selectedField="selectedField" onFocusedIndexChanged="@(e => UpdateFocusedIndex(4))" />
            <VerbInputRow userVerb="@verbQuiz.userVerbs[5]" conjugation="@verbQuiz.conjugations[5]" index="5" ID="@GLOBALS.languageSubjectPronouns[GLOBALS.ActiveLanguage][5].Split('/')[0]" subjectPronoun="@(GLOBALS.languageSubjectPronouns[GLOBALS.ActiveLanguage][5])" OnClipboardClicked="e => ClipboardClicked(5)" onTextChange="@(e => OnTextChange(e, 5))" userInputDisabled="userInputDisabled" displayCorrections="displayCorrections" selectedField="selectedField" onFocusedIndexChanged="@(e => UpdateFocusedIndex(5))" />
        </table>

        <button class="Quiz__submit" id="VerbQuiz__submit" @onclick="ResetVerb">@buttonLabels[buttonLabelIndex]</button>
    </div>

    <AccentBox OnClick="OnAccentClicked" />
</div>

@code {
    public VerbQuizBase verbQuiz;

    ErrorMessage? errorMsg;

    private string[] buttonLabels = new string[2] { "Submit", "Next" };
    private int buttonLabelIndex = 0;

    private bool userInputDisabled = false;
    private bool displayCorrections = false;

    private string FirstSubjectPronoun = GLOBALS.ToTitleCase(GLOBALS.languageSubjectPronouns[GLOBALS.ActiveLanguage][0]);

    private int selectedField = -1;
    private int focusedIndex = -1;

    private string topText = string.Empty;

    private bool awaitingFocusJe = false;

    private bool keyDown = false;

    public VerbQuiz()
    {
        verbQuiz = new VerbQuizBase();

        verbQuiz.RandomVerb();
        topText = verbQuiz.verbinfo[0];
    }

    public void UpdateFocusedIndex(int i)
    {
        if (i >= 0 && i <= 5)
        {
            focusedIndex = i;
        }
    }

    public async Task ResetVerb()
    {
        // if all user input fields are filled, execute IF block
        if (verbQuiz.userVerbs.All(x => x != ""))
        {
            // if SUBMIT button clicked:
            if (buttonLabelIndex == 0)
            {
                buttonLabelIndex = 1;
                userInputDisabled = true;
                displayCorrections = true;
            }

            // if NEXT button clicked:
            else
            {
                buttonLabelIndex = 0;
                userInputDisabled = false;
                displayCorrections = false;

                // reset the user input fields (which are bound to indexes of userVerbs)
                for (int i = 0; i <= 5; i++)
                {
                    verbQuiz.userVerbs[i] = string.Empty;
                }

                // generate a new verb + tense
                verbQuiz.RandomVerb();
                topText = verbQuiz.verbinfo[0];

                awaitingFocusJe = true;
            }
        }
        else
        {
            await errorMsg!.displayError();
        }
    }

    public async Task KeyPressed(KeyboardEventArgs args)
    {
        if ((args.Code == "Enter" || args.Code == "NumpadEnter") && !keyDown)
        {
            keyDown = true;
            await ResetVerb();
        }
    }

    public void KeyUp(KeyboardEventArgs args)
    {
        if (args.Code == "Enter" || args.Code == "NumpadEnter")
        {
            keyDown = false;
        }
    }

    public void OnTextChange(ChangeEventArgs args, int i)
    {
        verbQuiz.userVerbs[i] = args.Value!.ToString()!.ToLower().TrimStart();

        selectedField = i;

        if (i == 0)
        {
            // update the subject field "je" to "j' " if first letter is vowel
            FirstSubjectPronounChanged();
        }
    }

    public async Task OnAccentClicked(char accentClicked)
    {
        if (selectedField >= 0 && selectedField <= 5)
        {
            int caretPos = await JS.InvokeAsync<int>("getCaretPosition", GLOBALS.languageSubjectPronouns[GLOBALS.ActiveLanguage][focusedIndex]);

            verbQuiz.userVerbs[focusedIndex] = verbQuiz.userVerbs[focusedIndex].Insert(caretPos, accentClicked.ToString());
            selectedField = focusedIndex;

            await JS.InvokeVoidAsync("focusElement", GLOBALS.languageSubjectPronouns[GLOBALS.ActiveLanguage][selectedField]);
            await JS.InvokeVoidAsync("setCaretPosition", GLOBALS.languageSubjectPronouns[GLOBALS.ActiveLanguage][selectedField], caretPos + 1);
        }
    }

    public void FirstSubjectPronounChanged()
    {
        if (GLOBALS.ActiveLanguage == "fr")
        {
            char[] frenchVowels = { 'a', 'e', 'i', 'o', 'u', 'h', 'é', 'è', 'ê', 'ë', 'â', 'à', 'î', 'ì', 'ï', 'ô', 'ò', 'û', 'ù', 'ü' };

            if (verbQuiz.userVerbs[0].Length > 0)
            {
                if (frenchVowels.Contains(verbQuiz.userVerbs[0][0]))
                {
                    FirstSubjectPronoun = "J'";
                }
                else
                {
                    FirstSubjectPronoun = "Je";
                }
            }
            else
            {
                FirstSubjectPronoun = "Je";
            }
        }
    }

    public async Task DisplayEnglishTranslation()
    {
        topText = verbQuiz.verbinfo[1];

        await Task.Delay(3000);

        await InvokeAsync(() => StateHasChanged());

        topText = verbQuiz.verbinfo[0];
    }

    public async Task ClipboardClicked(int i)
    {
        if (i >= 1 && i <= 5)
        {
            verbQuiz.userVerbs[i] = verbQuiz.userVerbs[i - 1];
            focusedIndex = i;
            selectedField = i;
            await JS.InvokeVoidAsync("focusElement", GLOBALS.languageSubjectPronouns[GLOBALS.ActiveLanguage][focusedIndex].Split('/')[0]);

            int spaceIndex = (verbQuiz.userVerbs[i].Contains(" ")) ? verbQuiz.userVerbs[i].IndexOf(" ") : verbQuiz.userVerbs[i].Length;
            await JS.InvokeVoidAsync("setCaretPosition", GLOBALS.languageSubjectPronouns[GLOBALS.ActiveLanguage][i].Split('/')[0], spaceIndex);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || awaitingFocusJe)
        {
            awaitingFocusJe = false;
            await JS.InvokeVoidAsync("focusElement", GLOBALS.languageSubjectPronouns[GLOBALS.ActiveLanguage][0]);
            selectedField = 0;
        }
    }
}