<div>
    <style>
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;
            background-color: #292929;
            color: #fff;
        }

        .navbar input[type="text"] {
            width: 30%;
            padding: 0.5em;
            border-radius: 5px;
            border: 1px solid #ccc;
            display: block;
            margin: 0 auto;
        }

        #home-icon {
            width: 60px;
        }

        #navbar__credits{
            color: #a19d9d;
            font-size: 0.9em;
        }

        #navbar__credits:hover{
            color: #fff;
        }

        #flag-icon{
            margin-left: 23px;
            width: 40px;
            border-radius: 3px;
            cursor: pointer;
        }

        .LanguageSelector {
            position: absolute;
            width: 150px;
            height: 60px;
        }

        .LanguageSelector__body {
            background-color: #292929;
            border: 1px #000 solid;
            border-radius: 8px;
            height: 60px;
        }

        .flags {
            width: 40%;
            border-radius: 20px;
            margin: 0px 6px 0px 6px;
            cursor: pointer;
        }

        .LanguageSelector__arrow {
            position: relative;
            width: 0;
            height: 0;
            margin-left: 35px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid black;
            z-index: 1;
        }

    </style>
    <nav class="navbar">
        <a href="">
            <img id="home-icon" src="images/logo-icon.png" />
        </a>

        <span class="languageSelection">
            <img id="flag-icon" src="@($"images/{GLOBALS.ActiveLanguage}-icon.png")" @onclick="@(e => LanguageSelectorShown = !LanguageSelectorShown)"/>

            <div class="LanguageSelector" hidden="@(!LanguageSelectorShown)">
                <div class="LanguageSelector__header">
                    <div class="LanguageSelector__arrow"></div>
                </div>
                <div class="LanguageSelector__body">
                    <div class="LanguageSelector__content">
                        <span id="LanguageSelector__french">
                            <img class="flags" src="images/fr-icon.png" alt="French flag" @onclick="@(e => UpdateActiveLanguage("fr"))">
                        </span>
                        <span id="LanguageSelector__spanish">
                            <img class="flags" src="images/sp-icon.png" alt="Spanish flag" @onclick="@(e => UpdateActiveLanguage("sp"))">
                        </span>
                    </div>
                </div>
            </div>
        </span>

        <input id="search-box" type="text" placeholder="Search Verb or Tense..." @bind-value="@userSearchText" @bind-value:event="oninput">

        <a href="Credits" id="navbar__credits">
            Credits
        </a>
    </nav>
</div>

@code {
    // LANG SELECTOR CODE
    public async void UpdateActiveLanguage(string newLang)
    {
        LanguageSelectorShown = false;
        GLOBALS.ActiveLanguage = newLang;
        await refreshBody.InvokeAsync();
    }

    [Parameter] public EventCallback refreshBody { get; set; }

    public bool LanguageSelectorShown = false;

    // SEARCH BOX CODE
    public string userSearchText = string.Empty;
    List<string> searchResults => GLOBALS.allFilteredVerbs.ToArray().Where(x => x.StartsWith(userSearchText)).ToList();

    public void SearchTextChanged(ChangeEventArgs args)
    {
        userSearchText = args.Value!.ToString()!.ToLower();
    }

    public Dictionary<string, string[]> GetVerbConjugations(string verb)
    {
        string[] verbRecord = Array.Empty<string>();

        // find the verb's record in all_verb_data
        foreach (string record in GLOBALS.all_verb_data!)
        {
            if (record.Split(',')[0] == verb)
            {
                verbRecord = record.Split(',');
            }
        }

        Dictionary<string, string[]> verbConjugations = new Dictionary<string, string[]>();

        // get all the tenses and their starting index in all_verb_data from GLOBALS info
        string[] tenses = GLOBALS.allTensesIndices.Keys.ToArray();
        int[] tensesStartingIndex = GLOBALS.allTensesIndices.Values.ToArray();

        // iterate over all the tenses
        for (int i = 0; i < GLOBALS.allTensesIndices.Keys.Count; i++)
        {
            string tense = tenses[i];
            int startIndex = tensesStartingIndex[i];

            // use thet index to find the current tense conjugations
            string[] currentTenseConjugations = new string[6];
            for (int j = 0; i <= 5; i++)
            {
                // add the conjugations to an array temporarily
                currentTenseConjugations[i] = verbRecord[startIndex + j];
            }
            // add the array to the dict of all conjugations
            verbConjugations.Add(tense, currentTenseConjugations);
        }

        return verbConjugations;
    }
}
